<div id="login">
  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= semantic_form_for(resource, :as => resource_name, :url => send(:"#{scope}_session_path")) do |f| %>
    <%= f.inputs do %>
      <% Devise.authentication_keys.each do |key| %>
        <%= f.input key %>
      <% end %>

      <%= f.input :password %>

      <div class="small">
        <%= f.input :remember_me, :as => :boolean, :if =>  false %>
        <span class="separator">·</span>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-password' %>
      </div>

    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Login", button_html: {class: 'btn large primary'} %>
    <% end %>
  <% end %>
</div>
